.card_wrap {
  background-color: white;
  height: auto;
  padding: 1rem;
  width: 50%;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}
